<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477255754196-akmps8eooiv0647lj2h017ur55lfsh1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477255754196-akmps8eooiv0647lj2h017ur55lfsh1a</string>
	<key>API_KEY</key>
	<string>AIzaSyDtA6US3jKw_deNN0jaOdI4uAsy01GxQ3U</string>
	<key>GCM_SENDER_ID</key>
	<string>477255754196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Rikako.Omote.flutterFire</string>
	<key>PROJECT_ID</key>
	<string>flutter-fire-c35af</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-fire-c35af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:477255754196:ios:833c183ec86e6f5c747641</string>
</dict>
</plist>
